body {
	font-family:Roboto, Arial, sans-serif;
	color: black;
}

@media only screen and (max-width: 600px) {

/*	.datagrid-toolbar{ 
		height:60px		
	}
*/

}

.datagrid-footer .datagrid-row{
    background: #6CF;
	font-weight:bold;
  }
.canhbao{display:inline-block; padding-left:10px; padding-right:10px; height:28px; line-height:28px; background-color:#F00; 
        text-align:center; color:#FF0; font-weight:bold}
.tblForm tr{
	line-height:1.5em;
}

.left-top{
	float:left; height:30px; line-height:30px; border-right:#666 1px solid;
	box-sizing:border-box; font-weight:bold;
	width:6%;
}
.left-top #logo{
	margin-left:10px;
}
.left-top #logo img{
	margin-top:0.5px;
}
.right-top{
	float:left;
	width:100%;
}

.t-list{
    padding-top:5px;
    padding-right:5px;
    padding-bottom:5px;
    padding-left:20px;
    line-height:1.5em;
    background:url(../images/arrow.png) no-repeat left center;
}

.MultiFile-label{
	float:left;
	margin-right:8px;
}
.MultiFile-remove{
	font-weight:bold;
}
.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #95B8E7;

	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;

	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;

	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;

	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table{
	 border-collapse: collapse;
	 border-spacing: 0;
	 width:100%;
	 height:100%;
	 margin:0px;padding:0px;
}
.CSSTableGenerator tr:last-child td:last-child {
	  -moz-border-radius-bottomright:0px;
	  -webkit-border-bottom-right-radius:0px;
	  border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	 -moz-border-radius-bottomleft:0px;
	 -webkit-border-bottom-left-radius:0px;
	 border-bottom-left-radius:0px;
}
.CSSTableGenerator tr:hover td{

}
.CSSTableGenerator tr:nth-child(even)    {
	background-color:#ffffff;
}
.CSSTableGenerator td{
	vertical-align:middle;
	border:1px solid #95B8E7;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:3px;
	font-size:14px;
	font-family:Roboto;
	font-weight:normal;
	color:#000000;
}
.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}
.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.CSSTableGenerator tr:nth-child(2n+1) td{  
  background: #eee;
}
.CSSTableGenerator tr:first-child td{

	background-color:#E6EFFF;
	border:0px solid #95B8E7;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Roboto;
	font-weight:bold;
	color:#0E2D5F;
}