/*    Style văn bản      */
table .title{
    text-align: center;
}
.doc{
    margin: 10px auto;
    width:800px;
    background-color: #FFFFFF;
    box-shadow:2px 2px 2px 2px gray;
    padding-left:30px;
    padding-right:30px;
    padding-top:20px;
    padding-bottom:20px;
    overflow:hidden;
    font-family: Roboto;
}
.top-doc{
    float:left;
    width:100%;
    height:80px;
    overflow:hidden;
    margin-bottom:40px;
}
.top-doc .top-left{
    float:left;
    width:100%;
    text-align:center;
}
.top-doc .top-left p{
    line-height:0.5em;
    font-family: Roboto;
    font-size:15px;
}
.top-doc .top-left span{
    font-weight:bold;
    font-size:15px;
    font-family: Roboto;
}
.top-right{
    float: left;
    width:30%;
    font-family: Roboto;
}
.top-right span{
    font-weight:bold;
    font-size:15px;
    font-family: Roboto;
}
.top-right p{
    font-family:Roboto;
    font-size:15px;
}
.middle-doc{
    float:left;
    width:100%;
    text-align:center;
}
.middle-doc h2{
    text-transform:uppercase;
    font-size:28px;
    font-family: Roboto;
    margin:0;
}
.middle-doc p{
    font-family: Roboto;
    font-size:15px;
    font-style:italic;
}
.content-doc{
    float:left;
    width:100%;
    margin-top:20px;
    font-family:Roboto;
}
.title-doc{
    float:left;
    width:70%;
    font-family:Roboto;
    margin-bottom:10px;
}
.title-doc p{
    font-family:Roboto;
    font-size:15px;
}
.title-doc span{
    font-family:Roboto;
    font-size:15px;
    font-weight:bold;
}
.info-doc{
    float:left;
    width:100%;
}
.info-doc table{
    float:left;
    width:100%;
    font-family:Roboto;
    border-width: 1px;
    border-color: #000;
    border-collapse: collapse;
}
.info-doc table th{
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #000;
    font-family:Roboto;
    font-size:15px;
    text-align: center;
}
.info-doc table td{
    border-width: 1px;
    padding: 4px;
    border-style: solid;
    border-color: #000;
    font-family:Roboto;
    font-size:14px;
}
.footer-doc{
    float:left;
    width:100%;
    margin-top:20px;
    padding-bottom:40px;
    font-family:Roboto;
}
.footer-doc .home{
    float:left;
    width:100%;
}
.footer-doc .home td{
    float:left;
    width:23%;
    overflow:hidden;
    font-family:Roboto;
    font-size:14px;
}
.footer-doc .home td table{
    float:left;
    width:100%;
    text-align:center;
}
.footer-doc .home td table td{
    float:left;
    width:100%;
}
.footer-doc span{
    font-family:Roboto;
    font-size: 12px;
    font-style:italic;
}
.footer-doc p{
    float:right;
    width:100%;
    text-align:right;
    margin-right:20px;
    margin-bottom:10px;
    font-family:Roboto;
    font-style:italic;
    font-size:15px;
}
/***********end style nhap kho************************/



/******************style phieu thu********************/
.phieuthu{
    width: 800px;
    margin:10px auto;
    box-shadow:2px 2px 2px 2px gray;
    padding-left:30px;
    padding-right:30px;
    padding-top:20px;
    padding-bottom:20px;
    overflow:hidden;
}
.top-phieuthu{
    float:left;
    width:100%;
    height:80px;
    overflow:hidden;
}
.info{
    float:left;
    width:70%;
}
.info p{
    text-align:left;
    line-height:1.5em;
    font-family: Roboto;
    font-size:15px;
}
.cons{
    float:left;
    width:30%;
    text-align:center;
    font-style: italic;
    font-size:10px;
}
.cons p{
    font-family:Roboto;
    font-size:12px;
}
.middle-phieuthu{
    float:left;
    width:100%;
    text-align:center;
    font-family:Roboto;
    margin-bottom:20px;
}
.title-phieuthu{
    float:left;
    width:80%;
}
.title-phieuthu h2{
    font-family:Roboto;
    font-size:33px;
    margin-left: 133px;
    margin-bottom:0;
}
.title-phieuthu p{
    font-family:Roboto;
    font-size:15px;
    font-style:italic;
    margin-left: 133px;
}
.so{
    float:left;
    width:20%;
    font-family:Roboto;
    font-size:15px;
}
.so p{
    font-family:Roboto;
    font-size:15px;
}
.content-phieuthu{
    float:left;
    width:100%;
    font-family:Roboto;
    margin-left:30px;
}
.content-phieuthu table tr{
    line-height:2em;
}
.content-phieuthu table div{
    font-family:Roboto;
    font-size:15px;
}
.content-phieuthu span{
    font-family:Roboto;
    font-size:15px;
}
.footer-phieuthu{
    float:left;
    width:100%;
    margin-top:20px;
    padding-bottom:40px;
    font-family:Roboto;
}
.footer-phieuthu .home{
    float:left;
    width:100%;
}
.footer-phieuthu .home td{
    float:left;
    width:24%;
    overflow:hidden;
    font-family:Roboto;
    font-size:14px;
}
.footer-phieuthu .home td table{
    float:left;
    width:100%;
    text-align:center;
}
.footer-phieuthu .home td table td{
    float:left;
    width:100%;
}
.footer-phieuthu span{
    font-family:Roboto;
    font-size: 12px;
    font-style:italic;
}
.footer-phieuthu p{
    float:right;
    width:100%;
    text-align:right;
    margin-right:20px;
    margin-bottom:10px;
    font-family:Roboto;
    font-style:italic;
    font-size:15px;
}
/***************end style phieu thu*******************/
