body {
	font-family: "Roboto", sans-serif;
	background-color:#ECF3FF;
}

.login-page {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #00A9E7;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #8599AF;
}

.message {
  margin: 15px 0 0;
  color: #FF8305;
  font-size: 12px;
}
.message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  margin: auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  color: #00A9E7;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}



/* -------------------------------------------------------

	Description: Web 2.0 Login Form
	Version: 1.0
	Author: Anli Zaimi
	Author URI: http://azmind.com

------------------------------------------------------- */


/* ------- This is the CSS Reset -------

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ------- HTML5 display-role reset for older browsers ------- 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* ------- Remove Chrome's border around active fields ------- 

*:focus {
  outline: none;
}

/* ------- Disable background and border for input fields ------- 

input {
  background: transparent;
  border: 0;
}



/* --------------------------------------------------------------- 



body {
  background: #eeeeee url(../images/bg.jpg) top left repeat;
}




#container {
  margin: auto;
  margin-top: 180px;
  width: 524px;
  height: 262px;
  text-align: left;
  font-family: Roboto, Arial;
  font-weight: normal;
  font-size: 12px;
  color: #ffffff;
}




form, .welcome {
  background: url(../images/form-bg.png) top left no-repeat;
  width: 524px;
  height: 262px;
  padding-top: 1px;
}

.login, .welcome-user {
  width: 470px;
  float: left;
  margin-top: 33px;
  margin-left: 40px;
  font-size: 20px;
}

.username-text {
  width: 190px;
  float: left;
  margin-top: 50px;
  margin-left: 40px;
}

.password-text {
  width: 290px;
  float: left;
  margin-top: 50px;
  margin-left: 0px;
}

.welcome-text {
  width: 360px;
  float: left;
  margin-top: 50px;
  margin-left: 40px;
  line-height: 16px;
}

.username-field {
  width: 168px;
  height: 38px;
  float:left;
  margin-top: 10px;
  margin-left: 35px;
  background: url(../images/username-field.png) center left no-repeat;
}

.username-field:hover {
  background: url(../images/username-field-hover.png) center left no-repeat;
}

.password-field {
  width: 280px;
  height: 38px;
  float:left;
  margin-top: 10px;
  margin-left: 22px;
  background: url(../images/password-field.png) center left no-repeat;
}

.password-field:hover {
  background: url(../images/password-field-hover.png) center left no-repeat;
}

input[type="text"], input[type="password"] {
  width: 120px;
  height: 16px;
  margin-top: 10px;
  margin-left: 10px;
  font-family: Roboto, Arial;
  font-size: 16px;
  color: #2d2d2d;
}

/* ------------ Custom Checkbox ------------------------------- 

/* Works for browsers with CSS3 support (with or without Javascript) */
/* Works for Internet Explorer 6-8 (without CSS3 support) with Javascript */
/* If Javascript isn't available this doesn't work for Internet Explorer 6-8 

input[type="checkbox"] {
  position: absolute;
  left: -999px;
}

input[type="checkbox"] + label {
  width: 132px;
  height: 24px;
  float: left;
  margin-top: 26px;
  margin-left: 37px;
  padding-left: 28px;
  display: block;
  position: relative;
  line-height: 24px;
  background: url(../images/checkbox-off.png) top left no-repeat;
}

input[type="checkbox"]:checked + label {
  background: url(../images/checkbox-on.png) top left no-repeat;
}

input[type="checkbox"]:checked:hover + label, input[type="checkbox"]:checked:focus + label {
  background: url(../images/checkbox-on-hover.png) top left no-repeat;
}

input[type="checkbox"]:not(:checked):hover + label, input[type="checkbox"]:not(:checked):focus + label {
  background: url(../images/checkbox-off-hover.png) top left no-repeat;
}

/* --------------------------------------------------------------------------

.forgot-usr-pwd {
  width: 220px;
  float: left;
  margin-top: 10px;
  margin-left: 0;
  color: #cccccc;
  line-height: 24px;
}

.forgot-usr-pwd a {
  color: #cccccc;
  text-decoration: none;
  font-style: italic;
}

.forgot-usr-pwd a:hover, .forgot-usr-pwd a:focus {
  text-decoration: underline;
}

input[type="submit"] {
  width: 44px;
  height: 73px;
  float: left;
  margin-top: 12px;
  margin-left: 2px;
  font-family: Roboto, Arial;
  font-size: 26px;
  color: #ffffff;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  background: url(../images/go-hover.png) top center no-repeat;
}

.home {
  width: 70px;
  height: 73px;
  float: left;
  margin-top: 122px;
  margin-left: 21px;
  font-size: 20px;
  padding: 25px 0 0 15px;
}

.home:hover, .home:focus {
  background: url(../images/go-hover.png) top left no-repeat;
}

.home a, .home a:hover, .home a:focus {
  color: #ffffff;
  text-decoration: none;
}

.checkbox{
    width: 190px;
    float: left;
    margin-top: 10px;
    margin-left: 40px;
}

#footer {
  margin: auto;
  margin-top: 50px;
  width: 500px;
  height: 30px;
  background: url(../images/footer-bg.png) bottom center no-repeat;
  text-align: center;
  font-family: Roboto, Times, Georgia;
  font-weight: normal;
  font-size: 16px;
  color: #8d8d8d;
}

#footer a {
  text-decoration: none;
  color: #8d8d8d;
}

#footer a:hover, #footer a:focus {
  text-decoration: none;
  color: #2d2d2d;
}

 */