*{
    margin:0px;
    padding:0px;
}
ul, ol{
    list-style: none;
}
a {
    color: #000000;
    text-decoration: none;
}
.tblForm tr{
    line-height:3em;
}
/******************style phieu thu********************/
.phieuthu{
    float:left;
    margin-left:10px;
    width: 685px;
    padding-top:20px;
    padding-bottom:20px;
    overflow:hidden;
}
.top-phieuthu{
    float:left;
    width:100%;
    height:80px;
    overflow:hidden;
}
.info{
    float:left;
    width:70%;
}
.info p{
    text-align:left;
    line-height:1.5em;
    font-family: Time New Roman;
    font-size:15px;
}
.cons{
    float:left;
    width:30%;
    text-align:center;
    font-style: italic;
    font-size:10px;
}
.cons p{
    font-family:Time New Roman;
    font-size:12px;
}
.middle-phieuthu{
    float:left;
    width:100%;
    text-align:center;
    font-family:Time New Roman;
    margin-bottom:20px;
}
.title-phieuthu{
    float:left;
    width:80%;
}
.title-phieuthu h2{
    font-family:Time New Roman;
    font-size:33px;
    margin-left: 133px;
    margin-bottom:0;
}
.title-phieuthu p{
    font-family:Time New Roman;
    font-size:15px;
    font-style:italic;
    margin-left: 133px;
}
.so{
    float:left;
    width:20%;
    font-family:Time New Roman;
    font-size:15px;
}
.so p{
    font-family:Time New Roman;
    font-size:15px;
}
.content-phieuthu{
    float:left;
    width:100%;
    font-family:Time New Roman;
    margin-left:30px;
}
.content-phieuthu table tr{
    line-height:2em;
}
.content-phieuthu table div{
    font-family:Time New Roman;
    font-size:15px;
}
.content-phieuthu span{
    font-family:Time New Roman;
    font-size:15px;
}
.footer-phieuthu{
    float:left;
    width:100%;
    margin-top:20px;
    padding-bottom:40px;
    font-family:Time New Roman;
}
.footer-phieuthu .home{
    float:left;
    width:100%;
}
.footer-phieuthu .home td{
    float:left;
    width:25%;
    overflow:hidden;
    font-family:Time New Roman;
    font-size:14px;
}
.footer-phieuthu .home td table{
    float:left;
    width:100%;
    text-align:center;
}
.footer-phieuthu .home td table td{
    float:left;
    width:100%;
}
.footer-phieuthu span{
    font-family:Time New Roman;
    font-size: 12px;
    font-style:italic;
}
.footer-phieuthu p{
    float:right;
    width:100%;
    text-align:right;
    margin-right:20px;
    margin-bottom:10px;
    font-family:Time New Roman;
    font-style:italic;
    font-size:15px;
}
/***************end style phieu thu*******************/

/************style nhap kho***************************/
.nhapkho{
    border:none;
    float:left;
    margin: 10px;
    width:685px;
    padding-right:10px;
    padding-top:20px;
    padding-bottom:20px;
    font-family: Time New Roman;
}
.top-nhapkho{
    float:left;
    width:100%;
    height:90px;
    overflow:hidden;
}
.top-nhapkho .top-left{
    float:left;
    width:100%;
    text-align:center;
}
.top-nhapkho .top-left p{
    line-height:2em;
    font-family: Time New Roman;
    font-size:15px;
}
.top-nhapkho .top-left span{
    font-weight:bold;
    font-size:15px;
    font-family: Time New Roman;
}
.top-right{
    float: left;
    width:30%;
    font-family: Time New Roman;
}
.top-right span{
    font-weight:bold;
    font-size:15px;
    font-family: Time New Roman;
}
.top-right p{
    font-size:15px;
    font-family: Time New Roman;
}
.middle-nhapkho{
    float:left;
    width:100%;
    text-align:center;
}
.middle-nhapkho h2{
    text-transform:uppercase;
    font-size:28px;
    font-family: Time New Roman;
    margin:0;
}
.middle-nhapkho p{
    font-family: Time New Roman;
    font-size:15px;
    font-style:italic;
}
.content-nhapkho{
    float:left;
    width:100%;
    margin-top:20px;
    font-family:Time New Roman;
}
.title-nhapkho{
    float:left;
    width:70%;
    font-family:Time New Roman;
    margin-bottom:10px;
}
.title-nhapkho p{
    font-family:Time New Roman;
    font-size:15px;
}
.title-nhapkho span{
    font-family:Time New Roman;
    font-size:15px;
    font-weight:bold;
}
.info-nhapkho{
    float:left;
    width:100%;
}
.info-nhapkho table{
    float:left;
    width:100%;
    font-family:Time New Roman;
    border-width: 1px;
	border-color: #000;
	border-collapse: collapse;
}
.info-nhapkho table th{
    border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #000;
    font-family:Time New Roman;
    font-size:13px;
}
.info-nhapkho table td{
    border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #000;
    font-family:Time New Roman;
    font-size:12px;
}
.footer-nhapkho{
    float:left;
    width:100%;
    margin-top:20px;
    padding-bottom:40px;
    font-family:Time New Roman;
}
.footer-nhapkho .home{
    float:left;
    width:100%;
}
.footer-nhapkho .home td{
    float:left;
    width:25%;
    overflow:hidden;
    font-family:Time New Roman;
    font-size:14px;
}
.footer-nhapkho .home td table{
    float:left;
    width:100%;
    text-align:center;
}
.footer-nhapkho .home td table td{
    float:left;
    width:100%;
}
.footer-nhapkho span{
    font-family:Time New Roman;
    font-size: 12px;
    font-style:italic;
}
.footer-nhapkho p{
    float:right;
    width:100%;
    text-align:right;
    margin-right:20px;
    margin-bottom:10px;
    font-family:Time New Roman;
    font-style:italic;
    font-size:15px;
}
/***********end style nhap kho************************/
.canvasjs-chart-credit{
	display:none;
}
.footer {
    background-color: #0099cc;
    color: #CCC;
    padding:10px;
}

.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton1 {
	-moz-box-shadow:inset 0px 10px 14px -7px #e67a73;
	-webkit-box-shadow:inset 0px 10px 14px -7px #e67a73;
	box-shadow:inset 0px 10px 14px -7px #e67a73;
	background-color:#e4685d;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton1:hover {
	background-color:#eb675e;
}
.myButton1:active {
	position:relative;
	top:1px;
}


.myButton2 {
	-moz-box-shadow: 0px 10px 14px -7px #3dc21b;
	-webkit-box-shadow: 0px 10px 14px -7px #3dc21b;
	box-shadow: 0px 10px 14px -7px #3dc21b;
	background-color:#44c767;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton2:hover {
	background-color:#5cbf2a;
}
.myButton2:active {
	position:relative;
	top:1px;
}

p.note{
    font-family:Time New Romans;
    font-size:12px;
    text-align:center;
    text-transform: uppercase;
    font-weight:bold;
}