*{
	font-size:14px;
    font-family:Roboto,arial,sans-serif;
}
body {
    font-size:14px;
    margin:0;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
a{
    text-decoration:none;
    color:black;
}
.demo-info{
	padding:0 0 12px 0;
}
.demo-tip{
	display:none;
}

.tt-inner{
    display:inline-block;
    line-height:12px;
    padding-top:5px;
}
.tt-inner img{
    border:0;
}
.tblForm tr{
    line-height:2.5em;
}
.tblForm1 tr{
    line-height:1.5em;   
}
.tblForm textarea{
    border:1px solid #95b8e7;
}
/************************** responsive **************************************/
/********* dung cho man hinh max 1024*/
@media only screen and (max-width: 1024px) and (max-width: 1280px){
    *{
    	font-size:14px;
        font-family:Tahoma,arial,sans-serif;
    }
}
/***************************end responsive ***********************************/