/* icon small 16x16 */
.icon-email{
	background:url('icons/email.jpg') no-repeat center;
	background-size: 16px 16px;
}
.icon-setting{
	background:url('icons/setting.png') no-repeat center;
	background-size: 16px 16px;
}
.icon-account{
	background:url('icons/baocao.png') no-repeat center;
	background-size: 16px 16px;
}
.icon-cate{
	background:url('icons/category.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-hello{
	background:url('icons/hello.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-menu{
	background:url('icons/menu.png') no-repeat center;
	background-size: 16px 16px;
}
.icon-nhanvien{
	background:url('icons/nhanvien.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-app{
	background:url('icons/apps-hub-48.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-khachhang{
	background:url('icons/khachhang.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-sale{
	background:url('icons/baocaobanhang.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-taisan{
	background:url('icons/taisan.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-add{
	background:url('icons/add.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-edit{
	background:url('icons/edit.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-excel{
	background:url('icons//Excel-icon.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-customer{
	background:url('icons/cus.png') no-repeat center center;
}

/* icon large 32x32 */
.icon-user{
	background:url('icons/user.png') no-repeat center center;
	background-size: 32px 32px;
}
.icon-menu-large{
	background:url('icons/menu.png') no-repeat center;
	background-size: 32px 32px
}
.icon-nhanvien-large{
	background:url('icons/nhanvien.png') no-repeat center center;
	background-size: 32px 32px;
}
.icon-app-large{
	background:url('icons/apps-hub-48.png') no-repeat center center;
	background-size: 32px 32px;
}
.icon-khachhang-large{
	background:url('icons/khachhang.png') no-repeat center center;
	background-size: 32px 32px;
}
.icon-sale-large{
	background:url('icons/baocaobanhang.png') no-repeat center center;
	background-size: 32px 32px;
}
.icon-taisan-large{
	background:url('icons/taisan.png') no-repeat center center;
	background-size: 32px 32px;
}

.icon-excel-large{
	background:url('icons/Excel-icon.png') no-repeat center center;
	background-size: 32px 32px;
}
.icon-cate-large{
	background:url('icons/category.png') no-repeat center center;
	background-size: 32px 32px;
}
.icon-product-large{
	background:url('icons/product.png') no-repeat center center;
	background-size: 32px 32px;
}
.icon-report-large{
	background:url('icons/reports-quantum-48.svg') no-repeat center center;
	background-size: 32px 32px;
}
.icon-billing-large{
	background:url('icons/billing-quantum-48.svg') no-repeat center center;
	background-size: 32px 32px;
}
.icon-domain-large{
	background:url('icons/domains-quantum-48.svg') no-repeat center center;
	background-size: 32px 32px;
}
.icon-admin-large{
	background:url('icons/admin-roles-quantum-48.svg') no-repeat center center;
	background-size: 32px 32px;
}
.icon-profile-large{
	background:url('icons/company-profile-quantum-48.svg') no-repeat center center;
	background-size: 32px 32px;
}
.icon-hoso-large{
	background:url('icons/people-quantum-48.svg') no-repeat center center;
	background-size: 32px 32px;
}
.icon-group-large{
	background:url('icons/groups-quantum-48.svg') no-repeat center center;
	background-size: 32px 32px;
}

.icon-secure-large{
	background:url('icons/security-quantum-48.svg') no-repeat center center;
	background-size: 32px 32px;
}
.icon-report-large{
	background:url('icons/reports-quantum-48.svg') no-repeat center center;
	background-size: 32px 32px;
}
.icon-customer-large{
	background:url('icons/cus.png') no-repeat center center;
	background-size: 32px 32px;
}


.icon-doanhthu{
	background:url('icons/doanh_thu.png') no-repeat center center;
	background-size: 16px 16px;
}



.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}

/*------------------------*/

.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}


.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}

.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('icons/man.png') no-repeat center center;
}
.icon-more{
	background:url('icons/more.png') no-repeat center center;
}


.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}

/************************ icon-phanmem***************************************/
.icon-trangchu{
	background:url('icons/home.png') no-repeat center center;
}
.icon-danhmuc{
	background:url('icons/danhmuc.png') no-repeat center center;
}
.icon-nhaphang{
	background:url('icons/nhaphang.png') no-repeat center center;
}
.icon-phieuchi{
	background:url('icons/phieuchi.png') no-repeat center center;
}
.icon-phieuthu{
	background:url('icons/phieuthu.png') no-repeat center center;
}
.icon-banhang{
	background:url('icons/banhang.png') no-repeat center center;
}
.icon-baocao{
	background:url('icons/report.png') no-repeat center center;
}
.icon-hanghoa{
	background:url('icons/hanghoa.png') no-repeat center center;
}
.icon-logout{
	background:url('icons/dangxuat.png') no-repeat center center;
}
.icon-thuonghieu{
	background:url('icons/thuonghieu.png') no-repeat center center;
}
.icon-kieusanpham{
	background:url('icons/kieusanpham.png') no-repeat center center;
}

.icon-donvitinh{
	background:url('icons/donvitinh.png') no-repeat center center;
}
.icon-mua{
	background:url('icons/mua.png') no-repeat center center;
}
.icon-mausac{
	background:url('icons/mausac.png') no-repeat center center;
}
.icon-size{
	background:url('icons/size.png') no-repeat center center;
}
.icon-nganhang{
	background:url('icons/nganhang.png') no-repeat center center;
}
.icon-khohang{
	background:url('icons/kho.png') no-repeat center center;
}
.icon-logs{
	background:url('icons/logs.png') no-repeat center center;
}
.icon-sinhnhat{
	background:url('icons/sinhnhat.png') no-repeat center center;
}
.icon-vitri{
	background:url('icons/vitri.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}

/****************** end icon-phanmem******************************************/
